<!--
  Generated template for the BluetoothPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bluetooth</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h2>Discovered Devices</h2>
<ul>
  <li *ngFor="let device of discoverdDevices">
    {{device}}
  </li>
</ul>
<h2>Paired Devices</h2>
<ul>
  <li *ngFor="let device of pairedDevices">
    {{device}}
  </li>
</ul>
<p> {{message}} </p>
<button ion-button round (click)="onBtnConnectClick()">Connect</button>
<div ng-if="isConnected">
  <p>RSSI:{{rssi}}</p>
  <button ion-button round (click)="onBtnWriteClick()">Send</button>
  <p>Send Message:{{bluetoothMessageSend}}</p>
</div>
</ion-content>
